.bgimgtext {
  margin-top: 55px;
}

.bgimg {
  @include hw;
  background: rgba(47, 64, 82, 0.8);

  // background-image: url("working.jpeg");
  // opacity: 0.5;

  padding-bottom: 50px;
}

#textimg {
  font-size: 55px;
}

#textimgp {
  font-size: 20px;
  opacity: 1;
  // color: white;
  color: rgb(161, 166, 172);
}

@media only screen and (max-width: 600px) and (min-width: 320px) {
  .bgimg {
    @include hw;

    // height: 800px;
  }
}

.formdata {
  background-color: white;
  padding: 30px;
  margin-bottom: 125px;

  @media only screen and (max-width: 991px) and (min-width: 320px) {
    button {
      float: center;
    }
  }
}

.deskbutton {
  background-color: $buttoncolor;
  width: 235px;
  height: 55px;
  font-size: large;
  margin-left: 0px;
  
}

#litspacebtn {
  border: 2px solid white;

  :hover {
    background-color: $buttoncolor;
  }
}
