.bgimg {
  width: 100%;
  height: auto;
  background-image: url("working.jpeg");
  padding-bottom: 20px;
}

@media only screen and (max-width: 600px) and (min-width: 200) {
  .bgimg {
    width: 100%;
    height: auto;
  }
}

.formdata {
  background-color: white;
  padding: 30px;
}

@media only screen and (max-width: 991px) and (min-width: 200) {
  .formdata button {
    position: center;
  }
}

.deskbutton {
  background-color: blue;
}

#litspacebtn {
  border: 2px solid white;
}

#litspacebtn :hover {
  background-color: blue;
}
/*# sourceMappingURL=header.css.map */