@mixin hw {
  width: 100%;
  height: auto;
}

@mixin boldfont {
  font-weight: bold;
}

@mixin bgcolor($value) {
  @if $value == #2a354f {
    background-color: #2a354f;
    color: white;
  } @else if $value == dark or $value == black {
    background-color: black;
    color: white;
  } @else if $value == light {
    background-color: lightgray;
    color: black;
  } @else if $value == $value {
    background-color: $value;
  } @else {
    background-color: red;
  }
}
