// header stylesheet

@import "mixin";

@import "variables";

@import "header";

@import "footer";

.rounded- {
  width: 70px;
  height: 80px;
  padding-bottom: 15px;
}

.inputicon {
  color: grey;
}

.icons {
  margin-top: 125px;
}

.inactive{
  opacity: 0.5;
  // :active{
  //   opacity: 1;
  // }
}


.active{
  opacity: 1;
}





section {
  margin-top: 80px;
}

.progressbarPercentage {
  font-size: small;
  @include boldfont;
  float: right;
}

.progress-bar {
  width: 95%;
  height: 10px;
}

.TrendingSpacesText {
  @include boldfont;
}

.checked {
  color: yellow;
}

.card {
  border: 0;
}

.pricing {
  font: bold;
  color: $buttoncolor;
  font-size: 100px;
  font-weight: bolder;

  border-spacing: 0em;
}

.currency {
  font-size: 20px;
  vertical-align: top;
  margin: 0px -5px -25px;
  display: inline-block;
  color: $buttoncolor;
}

li {
  float: left;
}

.greencheck {
  color: lightgreen;
}

.buttonnn {
  border: 2px solid;
  font-weight: bolder;
}

p a {
  text-decoration: none;
}

#atcb {
  border: 2px blueviolet solid;
  color: blueviolet;

  :hover {
    background-color: white;
  }
}

.scheduleTourText {
  font-size: large;
  line-height: 1.8;
}

#testimonial img {
  height: 50px;
}

@for $v from 1 to 7 {
  .boxdemo-#{$v} {
    border: brown 1px solid;
    background-color: darken(pink, $v * 10%);
    width: 110px * $v;
    height: 110px * $v/2;
  }
}
