.bgimgtext {
  margin-top: 55px;
}

.bgimg {
  width: 100%;
  height: auto;
  background: rgba(47, 64, 82, 0.8);
  padding-bottom: 50px;
}

#textimg {
  font-size: 55px;
}

#textimgp {
  font-size: 20px;
  opacity: 1;
  color: #a1a6ac;
}

@media only screen and (max-width: 600px) and (min-width: 320px) {
  .bgimg {
    width: 100%;
    height: auto;
  }
}

.formdata {
  background-color: white;
  padding: 30px;
  margin-bottom: 125px;
}

@media only screen and (max-width: 991px) and (min-width: 320px) {
  .formdata button {
    float: center;
  }
}

.deskbutton {
  background-color: blue;
  width: 235px;
  height: 55px;
  font-size: large;
  margin-left: 0px;
}

#litspacebtn {
  border: 2px solid white;
}

#litspacebtn :hover {
  background-color: blue;
}

footer {
  background-color: #2a354f;
  color: white;
}

footer a {
  color: white;
}

.rounded- {
  width: 70px;
  height: 80px;
  padding-bottom: 15px;
}

.inputicon {
  color: grey;
}

.icons {
  margin-top: 125px;
}

.inactive {
  opacity: 0.5;
}

.active {
  opacity: 1;
}

section {
  margin-top: 80px;
}

.progressbarPercentage {
  font-size: small;
  font-weight: bold;
  float: right;
}

.progress-bar {
  width: 95%;
  height: 10px;
}

.TrendingSpacesText {
  font-weight: bold;
}

.checked {
  color: yellow;
}

.card {
  border: 0;
}

.pricing {
  font: bold;
  color: blue;
  font-size: 100px;
  font-weight: bolder;
  border-spacing: 0em;
}

.currency {
  font-size: 20px;
  vertical-align: top;
  margin: 0px -5px -25px;
  display: inline-block;
  color: blue;
}

li {
  float: left;
}

.greencheck {
  color: lightgreen;
}

.buttonnn {
  border: 2px solid;
  font-weight: bolder;
}

p a {
  text-decoration: none;
}

#atcb {
  border: 2px blueviolet solid;
  color: blueviolet;
}

#atcb :hover {
  background-color: white;
}

.scheduleTourText {
  font-size: large;
  line-height: 1.8;
}

#testimonial img {
  height: 50px;
}

.boxdemo-1 {
  border: brown 1px solid;
  background-color: #ff8da1;
  width: 110px;
  height: 55px;
}

.boxdemo-2 {
  border: brown 1px solid;
  background-color: #ff5a77;
  width: 220px;
  height: 110px;
}

.boxdemo-3 {
  border: brown 1px solid;
  background-color: #ff274d;
  width: 330px;
  height: 165px;
}

.boxdemo-4 {
  border: brown 1px solid;
  background-color: #f3002a;
  width: 440px;
  height: 220px;
}

.boxdemo-5 {
  border: brown 1px solid;
  background-color: #c00022;
  width: 550px;
  height: 275px;
}

.boxdemo-6 {
  border: brown 1px solid;
  background-color: #8d0019;
  width: 660px;
  height: 330px;
}
/*# sourceMappingURL=style.css.map */