 <section id="testimonial">
          <div class="row d-flex align-items-center justify-content-center">
            <div class="col-sm-12 col-md-10 col-lg-9 text-center">

              <div class="nav-wrapper">
                <ul class="nav nav-car testimonial-nav  flex-sm-row justify-content-center">
                  <li class="nav-item">
                    <a
                      class="nav-link text-sm-center  active"
                      data-toggle="tab"
                      href="#link-example-13"
                      role="tab"
                      aria-controls="link-example-13"
                      aria-selected="true"
                      >
                      <img
                        class="rounded-circle testimonialimg"
                        src="vishal.jpeg"
                        alt="Image"
                    /></a>
                  </li>

                  <li class="nav-item">
                    <a
                      class="nav-link text-sm-center avatar-link"
                      data-toggle="tab"
                      href="#link-example-14"
                      role="tab"
                      aria-controls="link-example-14"
                      aria-selected="false"
                      ><img
                        class="rounded-circle"
                        src="card.png"
                        alt="Image Description"
                    /></a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link text-sm-center avatar-link"
                      id="tab-link-example-15"
                      data-toggle="tab"
                      href="#link-example-15"
                      role="tab"
                      aria-controls="link-example-15"
                      aria-selected="false"
                      ><img
                        class="rounded-circle"
                        src="vishal.jpeg"
                        alt="Image Description"
                    /></a>
                  </li>
                </ul>
              </div>
              <!-- End of Tab Nav --><!-- Tab Content -->
              <div class="card border-0">
                <div class="card-body bg-soft p-0">
                  <div class="tab-content" id="tabcontentexample-5">
                    <div
                      class="tab-pane fade show active"
                      id="link-example-13"
                      role="tabpanel"
                      aria-labelledby="tab-link-example-13"
                    >
                      <span class="d-block my-3"
                        ><i class="star fas fa-star text-warning"></i>
                        <i class="star fas fa-star text-warning"></i>
                        <i class="star fas fa-star text-warning"></i>
                        <i class="star fas fa-star text-warning"></i>
                        <i class="star fas fa-star text-warning"></i
                      ></span>
                      <blockquote class="blockquote">
                        A big thumbs up for WebMob. 
                        <p class="blockquote-footer mt-4 text-primary">
                          Vishal Lohana
                        </p>
                      </blockquote>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="link-example-14"
                      role="tabpanel"
                      aria-labelledby="tab-link-example-14"
                    >
                      <span class="d-block my-3"
                        ><i class="star fas fa-star text-warning"></i>
                        <i class="star fas fa-star text-warning"></i>
                        <i class="star fas fa-star text-warning"></i>
                        <i class="star fas fa-star text-warning"></i>
                        <i class="star fas fa-star text-warning"></i
                      ></span>
                      <blockquote class="blockquote">
                        Good Job Team
                        <p class="blockquote-footer mt-4 text-primary">
                          Ram
                      </p>
                      </blockquote>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="link-example-15"
                      role="tabpanel"
                      aria-labelledby="tab-link-example-15"
                    >
                      <span class="d-block my-3"
                        ><i class="star fas fa-star text-warning"></i>
                        <i class="star fas fa-star text-warning"></i>
                        <i class="star fas fa-star text-warning"></i>
                        <i class="star fas fa-star text-warning"></i>
                      </span>
                      <blockquote class="blockquote">
                        Highly satisfied 
                        <p class="blockquote-footer mt-4 text-primary">
                          Shyam
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End of Tab -->
            </div>
          </div>
          
        </section>